export const environment = {
    geocoderHereApi: {
        app_id: '<YOUR-APP-ID>',
        app_code: '<YOUR-APP-CODE>'
    },
    apiKey: '<RANDOMLY-GENERATED-API-KEY>',
    events: ['<SOME-EVENT>', '<ANOTHER-EVENT>']
}