.echart {
    height: 99.9%;
    width: 100%;
}

.btn-options {
    bottom: 0px;
    right: 0px;
    position: absolute;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.options-container {
    width: 90%;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.slider {
    width: 400px;
}

.btn-refresh {
    float: right;
}
